html{
	background-color: #FF0000;
}
#imgvg{
	width: 90%;
	height: 25%;
	display: block;
    margin: 0 auto;
}

#imgdep{
	width: 30%;
	height: 25%;
	display: block;
    margin: 0 auto;
}

#deporte{
	background-color: yellowgreen;
	border-color: red;
	border-style: ridge;
}
#video{
	background-color: greenyellow;
	border-color: green;
	border-style: ridge;
}
#cancion{
	background-color: powderblue;
	border-color:  blue;
	border-style: ridge;
}
video{
	content-align: center;
    display: block;
	margin: 0 auto;
}

footer{
	text-align: center;
}
